
.container-lg{
    border: 1px solid rgb(134, 133, 133); 
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px lightgray;
}

h3{
    padding-left: 38%;
    font-family: 'Courier New', Courier, monospace;
}

.col{
    height: 210px;
    padding-top: 10px;
    padding-left: 10%;
    background-color: rgb(244, 239, 239);
    border: .2px solid rgb(134, 133, 133); 
}

#image-list img{ 
    margin-left: 04%;
    height: 190px;
    width: 90%;
    object-fit: cover;
}

.body{
    align-content: center;
    text-align: center;
}

#image-display{
    display: none;
    margin-left: 20%;
    margin-bottom: 40px;
    position: fixed;
    width: 60%;
    height: 600px;
    background-color: white;
    z-index: 1;
    align-content: center;
    text-align: center;
    border: 1px solid lightgray;
}

#show-img img{
    margin-bottom: 20px;
    height: 530px;
    width: 80%;
    object-fit: cover;
}

#x{
    margin-left: 96%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

#next{
    margin-top: 30%;
    margin-bottom: 30%;
    background-color: white;
    border: 0px
}

#previous{
    margin-top: 30%;
    margin-bottom: 30%;
    padding-right: 20px;
    background-color: white;
    border: 0px
}

#show-img{
    width: 80%;
}



